<%- include('../layouts/header') %>

<section class="container">
  <h2>Dealer Login</h2>
  <form action="/dealer-auth/login" method="POST" class="form">
    <label>Phone</label><input name="phone" required>
    <label>Password</label><input name="password" type="password" required>
    <button type="submit" class="btn">Login</button>
  </form>
</section>

<%- include('../layouts/footer') %>
