    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Supperting Backbone of the nation</title>
           <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
          <%- include("../includes/navbar.ejs") %>
        </header>

        <main>
            <%- body %> <!-- This is where the content of individual views will be injected -->
        </main>

        <footer>
            <!-- Common footer content -->
        </footer>
    </body>
    </html>