<%- include('../layouts/header') %>

<section class="community-page">
  <h2>Community Feed</h2>

 <a href="/community/problems/new" class="bg-linear-to-r from-green-600 to-green-700 text-white px-6 py-3 rounded-xl font-semibold shadow-lg hover:shadow-xl hover:scale-105 transition inline-flex items-center justify-center gap-2">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"/>
            </svg>
            Report Problem
        </a>
        
<a href="/community/problems">go to community problems</a>
<a href="/community/chat">go to community chat</a>
</section>

<%- include('../layouts/footer') %>
